#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 500px;
  margin-top: 50px;
}

h1 {
  background-color: blueviolet;
  width: 100%;
  margin: 0;
}

